$blue_color1:#38aef0;
$blue_color2:#253134;
$blue_color3:#2f3e51;
$mono_color1:#ffffff;
$mono_color2:#333333;
$mono_color3:#999999;
$mono_color4:#eeeeee;
$mono_color5:#fafafa;
$mono_color6:#434a54;
$mono_color7:#ddd;