.flash{
  .notice{
    background-color: $blue_color1;
    color:$mono_color1;
    text-align: center;
  }
  .alert{
    background-color: $orange_color;
    color:$mono_color1;
    text-align: center;

  }
}
